<h1>Edit Wiki</h1>

<div class="row">
  <div class="col-md-4">
    <p>Rules for New Wiki:</p>
    <ul>
      <li>Make sure Wiki is true.</li>
      <li>Anything offensive is frowned upon. (I will get you.)</li>
      <li>Make the wifi fun to read.</li>
    </ul>

    <br/>

    <% if current_user.admin? || current_user.premium? && current_user == @wiki.user %>
      <h4>Collaborators</h4>
        <% @wiki.collaborators.each do |c| %>
          <p><%= c.user.email %> - <%= button_to "Remove", wiki_collaborator_path(@wiki, c), method: :delete %></p>
        <% end %>
      <%= form_tag add_collaborators_wiki_path(@wiki) do |f| %>
        <div class="form-group">
          <%= label_tag :emails %>
          <%= text_field_tag :emails, "", {class: 'form-control'} %>
        </div>
        <%= submit_tag "Submit", class: "btn btn-success" %>
      <% end %>
    <% end %>

  </div>
  <div class="col-md-8">
    <%= render partial: 'form', local: { wiki: @wiki } %>
  </div>
</div>
